h6      {
        font-family:    sans-serif;
        font-size-adjust:       .53;
        font-size:      .7em;
        font-weight:    4fa00;
	text-align: right;
}

blockquote      {
        margin-right:   1.75em;
}
